<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.feruz.onlinejavacourse">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fonga"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fonga"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineJavaCourse">
        <activity android:name=".DuolarActivity"
            android:label="Saharlik va iftorlik duolari"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".HududActivity"
            android:label="Taqvim 2022"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>